[Unit]
Description=Cloudflare tunnel for standalone 1helm.com website
After=network-online.target 1helm-site.service
Wants=network-online.target 1helm-site.service

[Service]
Type=simple
DynamicUser=yes
LoadCredential=1helm-site-tunnel.json:/etc/cloudflared/1helm-site-tunnel.json
ExecStart=/usr/bin/cloudflared --no-autoupdate --config /etc/cloudflared/config-1helm-site.yml tunnel run --credentials-file ${CREDENTIALS_DIRECTORY}/1helm-site-tunnel.json
Restart=always
RestartSec=5
NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
ProtectSystem=strict
ProtectHome=yes
ProtectClock=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictSUIDSGID=true
LockPersonality=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
SystemCallArchitectures=native
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
